body {
    background-color: white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    color: darkorange;
    margin: 0 auto;
    max-width: 1200px;
    font-family: inherit;
    font-size: 9px;
    padding-top: 49px;
    padding-left: 23px;
    padding-right: 23px;
    background-color:white;
}
